<%= render partial: 'shared/header', locals: { heading: 'ADD NEW CATEGORY', path: new_category_path } %>
<%= form_with model: @category, url: categories_path, local: true, class: 'form' do |f| %>
  <%= f.text_field :name, autofocus: true, autocomplete: "off", placeholder: "Category Name", class: "form-field" %>
  <div class="icon-container">
    <%= f.file_field :icon %>
    <%= f.submit "Save", class: "btn home-login" %>
  </div>
<% end %>